<div class="container">
  <div class="form-group">
    <select class="form-control mt-4" id="exampleFormControlSelect1">
      <option disabled selected>類別</option>
      <option value="house">家居物業</option>
      <option value="transportation">交通出行</option>
      <option value="entertainment">休閒娛樂</option>
      <option value="food">餐飲食品</option>
      <option value="others">其他</option>
    </select>
  </div>
  <div class="totalAmout mb-5">
    <h3>總金額:</h3>
    <h1 style="text-align: end">$400</h1>
  </div>
  <div>
    <a class="btn" href="/expensetracker/new">新增支出明細</a>
  </div>
  <ul>
    {{#each records}}
    <li class='list-group-item'>
      <div class="row">
        <div class="col-auto mr-auto">
          <div class="row col-md-9">
            <h3 class="col-auto">
              <i class='{{this.icon}}'></i>
            </h3>
            <div class="col-md">
              <h4>{{this.name}}</h4>
              <h5>{{this.date}}</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>$ {{this.amount}}</h3>
        </div>
        <div class="col-auto">
          <a class="btn btn-success" href="./expensetracker/{{this._id}}/edit">edit</a>
          <form action="" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

</div>