<div class="container">
  <div class="form-group">
    <form action="/sort" method="GET">
      <select class="form-control mt-4" id="sortCategory" onchange="this.form.submit()" name='sort'>
        <option value="類別" disabled selected>類別</option>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
      </select>
      <noscript><input type="submit" value="Submit"></noscript>
    </form>

  </div>
  <div class="totalAmout mb-5">
    <h3>總金額:</h3>
    <h1 style="text-align: end">$ {{totalAmount}}</h1>
  </div>
  <div>
    <a class="btn" href="/expensetracker/new">新增支出明細</a>
  </div>

  <div class="container mt-3">
    <ul>
      {{#each records}}
      <li class='list-group-item'>
        <div class="row d-flex align-items-center">
          <div class="row col-10 mr-auto align-items-center">
            <div class="row col-md-9">
              <h2 class="mx-3 my-auto" style='width:30px'>
                <i class='{{this.icon}}'></i>
              </h2>
              <div class="col-md-8">
                <h4 class="mb-0">{{this.name}}</h4>
                <h6 class="mb-0">{{this.date}}</h6>
              </div>
            </div>
            <div class="col-md-3">
              <h3>$ {{this.amount}}</h3>
            </div>
          </div>
          <div class="col-auto">
            <a class="btn btn-success" href="./expensetracker/{{this._id}}/edit">edit</a>
            <form action="/expensetracker/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-danger" type="submit">delete</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>