<div class="container">
  <div class="totalAmout mt-5">
    <h3 class="text-center">總金額:</h3>
    <h1 class="pr-3" style="text-align: end">$ {{totalAmount}}</h1>
  </div>
  <div class="form-group ml-5">
    <form action="/expensetracker/filter" method="GET">
      <select class="form-control mt-4" id="sortCategory" onchange="this.form.submit()" name='filter'
        style="width: fit-content;">
        <option disabled selected>類別</option>
        <option value="家居物業" {{#is filterCategory "家居物業"}} selected {{/is}}>家居物業</option>
        <option value="交通出行" {{#is filterCategory "交通出行"}} selected {{/is}}>交通出行</option>
        <option value="休閒娛樂" {{#is filterCategory "休閒娛樂"}} selected {{/is}}>休閒娛樂</option>
        <option value="餐飲食品" {{#is filterCategory "餐飲食品"}} selected {{/is}}>餐飲食品</option>
        <option value="其他" {{#is filterCategory "其他"}} selected {{/is}}>其他</option>
      </select>
      <noscript><input type="submit" value="Submit"></noscript>
    </form>
  </div>
  <div class="form-group ml-5">
    <form action="/expensetracker/time" method="GET">
      <select class="form-control mt-4" id="sortMonth" name='month' style="width: fit-content;">
        <option disabled selected>月份</option>
        <option value="1">一月</option>
        <option value="2">二月</option>
        <option value="3">三月</option>
        <option value="4">四月</option>
        <option value="5">五月</option>
        <option value="6">六月</option>
        <option value="7">七月</option>
        <option value="8">八月</option>
        <option value="9">九月</option>
        <option value="10">十月</option>
        <option value="11">十一月</option>
        <option value="12">十二月</option>
      </select>
      <button class="btn btn-primary">搜尋</button>
      {{!-- <noscript><input type="submit" value="Submit"></noscript> --}}
    </form>
  </div>
  <div class="pl-5">
    <a class="btn btn-light" href="/expensetracker/new">新增支出明細</a>
  </div>

  <div class="container mt-3">
    <ul class="mb-0">
      <li class='list-group-item' style="background-color:burlywood;">
        <div class="row d-flex align-items-center">
          <div class="row col-10 mr-auto align-items-center">
            <div class="row col-md-9">
              <h2 class="mx-3 my-auto" style='width:30px'>
                <i class=''></i>
              </h2>
              <div class="col-md-3">
                <h6 class="mb-0">支出名稱/日期</h6>
              </div>
              <div class="col-md-3 my-auto">
                <h6 class="mb-0">商家名稱</h6>
              </div>
            </div>
            <div class="col-md-3">
              <h6 class="my-auto">支出金額</h6>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul>
      {{#each records}}
      <li class='list-group-item'>
        <div class="row d-flex align-items-center">
          <div class="row col-10 mr-auto align-items-center">
            <div class="row col-md-9">
              <h2 class="mx-3 my-auto" style='width:30px'>
                <i class='{{this.icon}}'></i>
              </h2>
              <div class="col-md-3">
                <h4 class="mb-0">{{this.name}}</h4>
                <h6 class="mb-0">{{this.date}}</h6>
              </div>
              <div class="col-md-3 my-auto">
                <h6 class="mb-0">{{this.merchant}}</h6>
              </div>
            </div>
            <div class="col-md-3">
              <h3>$ {{this.amount}}</h3>
            </div>
          </div>
          <div class="col-auto">
            <a class="btn btn-success" href="/expensetracker/{{this._id}}/edit">edit</a>
            <form action="/expensetracker/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-danger" type="submit">delete</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>